<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Contact page</title>
    <link rel="stylesheet" href="../assets/style.css">
  </head>
  <body>
    <%- include ('partials/nav.ejs'); -%>
    <h1>hey there!, this is your profile and your id is <%= id %></h1>
    <p><strong>Name:</strong> <%= data.name %></p>
    <p><strong>Age:</strong> <%= data.age %></p>
    <p><strong>Job:</strong> <%= data.job %></p>
    <h2>Hobbies</h2>
    <ul>
      <% data.hobbies.forEach(function(item){ %>
        <li><%= item %></li>
      <% }); %>
    </ul>
</html>
